DBUSER="ronsard44djoumessi"
DBPASS="SLlh85suFgTPimyV"
MONGO_URL="mongodb+srv://ronsard44djoumessi:0ej8W51tleacM2bF@cluster0.qcgnc.mongodb.net/seminar?retryWrites=true&w=majority&appName=Cluster0"
AUTH_SECRET="GXCIjZpFKkdtmWIlo8VkUkJzvmIAqVbT7vOIG8xqn5I="
NEXTAUTH_URL=http://localhost:3000/api/auth